body {
	padding-top: 20px;
	font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #001F3F;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
	color: inherit;
}

a {
    color: #0074D9;
    text-decoration: none;
}

a:visited {
    color: #0074D9;
}

a:hover {
    color: #0074D9;
}

a:active {
    color: red;
}

.subtitle {
	font-family: "Montserrat";
	color: inherit;
	font-size: 110%;
}

#siteTitle nav {
	margin-top: 0.75em;
}

#siteTitle nav a {
	margin-right: 1.75em;
}

#copyright {
	padding-bottom: 50px;
	text-align: center;
}